html {
    cursor: url(wolf/cursor.png), auto;
    background-color: royalblue;
    margin: 0px 10px;
}

a {
    cursor: url(wolf/paw.png), pointer;
}

h1 {
    font-family: serif;
    font-size: 78px;
    text-align: center;
    color: royalblue;
    background-image: url("little-wolf.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5em;
}

h2 {
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    padding: .5em 0em .5em 0em;
}

h3 {
    font-family: fantasy;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-top: 3px;
}

.principal {
    background-color: lightblue;
    display: block;
}

.principal p {
    margin: 0.5em 3em 0em 3em;
    text-align: justify;
    font-size: 25px
}

.principal .img {
    border-radius: 50%;
}

.principal form {
    text-align: center;
    padding-bottom: 10px
}

.TopNav {
    background-color: skyblue;
    overflow: hidden;
}

.topnav a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.atual {
    background-color: royalblue;
    color: white;
}

.TopNav .icon {
    display: none;
    background-color: skyblue;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: skyblue;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: url(wolf/paw.png), pointer;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    background-color: darkblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: darkblue;
    color: white;
}

.dropdown-content a:hover {
    background-color: royalblue;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: url(wolf/paw.png), pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
}

#myBtn:hover {
    background-color: royalblue;
}

footer {
    text-align: center;
    font-family: monospace;
    padding: 3em;
    background-color: darkblue;
    color: white;
    margin: 0px;
}
